body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #2C3E50;
	color: #ECF0F1 !important;
	margin: 0;
}

div#footer {
	text-align: right;
	font-style: oblique;
	margin-top: 10px;
	color: #ECF0F1;
	font-size: smaller;
}

#dateholder {
	font-size: larger;
	font-weight: bolder;
}

#main {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container {
	background-color: #34495E;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
	margin-bottom: 20px;
}

label td {
	color: #ECF0F1 !important;
}

.btn-primary {
	background-color: #3498DB;
	border-color: #3498DB;
}

.btn-primary:hover {
	background-color: #2980B9;
	border-color: #2980B9;
}

.count {
	font-size: 18px !important;
	margin: auto;
}

.title {
	border-bottom: dotted 1px #9f9f9f;
}

.endphrase {
	font-style: oblique;
	text-align: right;
}